/*!
 * CSS file for Module 2 Assignment - Don Zellman
 */

* {
  box-sizing:  border-box;
  /*margin: 0;
  padding: 0;*/
}

h1 {
  text-align: center;
  font-size: 175%;
  padding: 25px;
}
h3 {
  margin: 0px;
  padding: 5px;
  border:  1px black solid;
  font-size: 125%;
  /*position: absolute;
  right: 0px;*/
}
div {
  background-color: white;
  color: black;
  border:  1px black solid;
  /*border-collapse: collapse;*/
}

p {
  /*border: 1px solid black;*/
  /*float: left;
  position:  relative;*/
  padding:  45px 10px 10px 10px;
  color: black;
}




#d1 {
  background-color: #A52A2A;
  float: right;
  /*display: block;*/
}
#d2 {
  background-color: #DEB887;
  float: right;
  /*display: block;*/
}
#d3 {
  background-color: lightgreen;
  float: right;
  /*display: block;*/
}
.h-chicken{
  text-align: center;
  color: black;
}
.h-beef {
  text-align: center;
  color: green;
}
.h-seafood {
  text-align: center;
  color: blue;
}

.row {
  width: 100%;
  text-align: center;
}

.sections {
  position: relative;
  background-color: lightgray;
  height: auto;
  font-family: Helvetica;
  border: 1px solid black;
  padding-left: 20px;
  margin: 10px 10px 10px 10px;
  text-align: left;
  overflow: hidden;
}

/********** Large devices only **********/

@media (min-width: 992px){
  /* targets screens that are at least 992px wide  */
  /*.col-lg-4 {
    
  }*/

  .col-lg-4 {
    float: left;
    /*width: 33%;
    margin: 10px 1px 10px 1px;*/
    width: 30%;
    margin: 10px 1.5% 10px 1.5%;
    /*margin:  auto;*/
  }
  
}

/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px){
  /* targets screens that are at least 768px wide  */
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 48%;
    /*margin: auto;     width 49% works mostly*/
    margin: 10px 1% 10px 1%;
    /*top right bottom left*/
  }
  .col-md-12 {
    width: 98%;
    /*margin: auto;   98% was working mostly*/
    margin: 10px 1% 10px 1%;
  }
}

/*******Small Devices *************/
@media (max-width: 767px){
  /* targets screens that are at least 768px wide  */
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 96%;
    /*margin: auto;*/
    margin: 10px 2% 10px 2%;
  }
}






